.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  margin: 0 auto;
}
.studio-wiete {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;

  @include mq(desktop);
}
.footer-address,
.footer-telephone,
.menu-links-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  @include mq(desktop) {
    margin-bottom: -60px;
  }
}

.class-links-footer {
  margin-bottom: 9px;
}

.footer-telephone,
.menu-links-footer {
  color: rgba(255, 255, 255, 0.6);
}
.header-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.footer-right {
  @include mq(desktop) {
    margin-left: 70px;
  }
}

.footer-left {
  text-align: center;
  @include mq(tablet-only) {
    margin-right: 165px;
  }
  @include mq(desktop) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.join {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;

  @include mq(tablet) {
    margin-top: 0px;
  }
  @include mq(desktop) {
    display: flex;
  }
}
.footer-follow {
  @include mq(tablet) {
    flex-shrink: 0;
    width: 500px;
  }

  @include mq(desktop) {
    margin-left: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.follow {
  text-align: center;

  @include mq(desktop) {
    text-align: left;
  }
}
.footer-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;

  @include mq(mobile-only) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include mq(tablet-only) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 358px;
  }
}
.button-folow {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 10px;
  margin-top: 20px;
  align-items: center;
  margin: 0 auto;

  @include mq(desktop) {
    margin-left: 12px;
  }
}
.follow-submit {
  @include mq(desktop) {
    display: flex;
    align-items: flex-end;
  }
  justify-content: center;
  margin-bottom: 20px;
}
.footer-label {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;

  @include mq(desktop) {
    display: flex;
  }
}

.footer-social-item {
  & + .footer-social-item {
    margin-left: 10px;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.footer-position {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @include mq(desktop) {
    display: flex;
    // flex-direction: column;
    align-items: baseline;
  }
}
