.header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  @include mq(tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include mq(desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .container {
    display: flex;
    align-items: center;
  }
}
.header-nav {
  @include mq(mobile-only) {
    display: none;
  }
}
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  @include mq(tablet) {
  }
}
.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.header-list__link.curent {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    left: 0;
    bottom: -34px;
  }
}

.header-list__item {
  margin-right: 45px;
}
.header-list__potfolio {
  margin-right: 55px;
}

.web-blue {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #2196f3;
}
.studio-black {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #212121;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;

  @include mq(tablet) {
    margin-right: 88px;
  }

  @include mq(desktop) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-list {
  display: flex;
  align-items: center;
}
.contacts-list {
  margin-left: auto;
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.contacts-list__link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 30px;
  }
}
.icon-mail {
  width: 14px;
  height: 10px;
  @include mq(desktop) {
    width: 16px;
    height: 12px;
  }
}
.icon-telefon {
  width: 10px;
  height: 14px;
  @include mq(desktop) {
    height: 16px;
  }
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;

  @include mq(desktop) {
    margin-right: 10px;
  }
}
.header-contacts__item {
  margin-left: 10px;
  align-content: center;
  margin-right: 50px;
}
.web-blue,
.studio-wiete,
.studio-black {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  display: none;
  z-index: 10;
  @include mq(mobile-only) {
    display: block;
  }
}
.menu-bt-icon {
  display: block;
}

.icon-close {
  display: none;
}
.menu-button.is-ope .icon-close {
  display: block;
}
.menu-button.is-ope .icon-open {
  display: none;
}
