.works-section {
  display: none;
  @include mq(desktop) {
    display: flex;
  }
}

.work-heading {
  @include mq(desktop) {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.work-heading-ul {
  display: flex;
  justify-content: center;
}
.work-heading-li {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works-animation {
  display: block;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.works-animation-titlt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
